SENSECRAFT_DEVICE_ID=20231869
SENSECRAFT_API_KEY=sk_replace_me
QWEATHER_HOST=https://replace.qweatherapi.com
QWEATHER_API_KEY=replace_me
QWEATHER_LOCATION=120.16,30.29
RENDER_INTERVAL_MIN=5
WEATHER_CACHE_MIN=30
POMODORO_START=9
POMODORO_END=21
POMODORO_END_FRIDAY=18
BREAKS=12:00-13:30=午休,18:00-19:00=晚餐
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
TZ=Asia/Shanghai
LOG_LEVEL=INFO
